@font-face {
  font-family: Google;
  src: url("./fonts/Product\ Sans\ Bold.ttf");
  font-weight: normal;
}

body {
  width: 100%;
  background: url(./images/1.jpg);
  background-position: center;
  background-size: cover;
}

.logo {
  text-align: center;
  font-size: 100px;
  margin-top: 130px;
  margin-left: 0%;
  color: rgb(53, 33, 6);
  font-family: Google;
}

.search-input 
 {
  margin-left: 36%;
  width: 400px;
  height: 50px;
  border-radius: 22px;
  box-sizing: border-box;
  font-size: 16px;
  opacity: 1;
  position: relative;
  transition: none;
  padding: 0 20px;
}

.search-bar 
 {
  margin : 4% 22%;
  width:50%;
  height: 50px;
  border-radius: 22px;
  box-sizing: border-box;
  font-size: 16px;
  opacity: 1;
  outline: none;
  position: relative;
  transition: none;
  padding: 0 1.5%;
}

.collapsible{
  background-color:#777;
  color:white;
  cursor:pointer;
  padding:0% 1.5%;
  width:50%;
  display: inline-block ;
  margin: 2% 20% 0% 20%;
  border:none;
  text-align:center;
  outline:none;
  font-size:15px;
  }
   
  .active,.collapsible:hover{
  background-color:#555;
  }
   
  .content{
  padding:1.5%;
  display:none;
  width:47%;
  margin: 0% 20%;
  overflow:hidden;
  background-color:#f1f1f1;
  }