@font-face {
  font-family: Google;
  src: url("./fonts/Product\ Sans\ Bold.ttf");
  font-weight: normal;
}

body {
  width: 100%;
  background: url(./images/1.jpg);
  background-position: center;
  background-size: cover;
}

.logo {
  text-align: center;
  font-size: 100px;
  margin-top: 100px;
  margin-bottom: 150px;
  font-family: Google;
}

.search-input {
  margin-left: 440px;
  width: 400px;
  height: 50px;
  border-radius: 22px;
  box-sizing: border-box;
  font-size: 16px;
  opacity: 1;
  position: relative;
  transition: none;
  padding: 0 20px;
}

.collapsible {
  background-color: #777;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 50%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.active, .collapsible:hover {
  background-color: #555;
}

.content {
  padding: 18px;
  display: none;
  width: 50%;
  overflow: hidden;
  background-color: #f1f1f1;
}

