
  .logo {
    text-align: center;
    font-size: 100px;
    margin-top: 100px;
    margin-bottom: 150px;
    font-family: Google;
  }
  
  body {
    background: url(./../../assets/images/1.jpg);
    background-size: 100% 200%;
  }
