
.search-input 
{
 width: 30%;
 height: 50%;
 border-radius: 23px;
 box-sizing: border-box;
 font-size: 16px;
 opacity: 1;
 position: relative;
 transition: none;
 margin-right : 35%;
 margin-left : 35%;
}