
.search-input 
{
 width: 30%;
 border-radius: 22px;
 box-sizing: border-box;
 font-size: 22px;
 opacity: 1;
 position: relative;
 transition: none;
 margin-top: 0;
 margin-right : 35%;
 margin-left : 35%;
 padding: 0.4% 2%;
}