/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: Google;
    src: url("./assets/fonts/Product Sans Bold.ttf");
    font-weight: normal;
  }
  
//   body {
//     background: url(./assets/images/1.jpg);
//     background-repeat: no-repeat;
//     background-size: 100% 200%;
//   }